* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: UbuntuLight;
  src: url(font/UbuntuL.TTF);
}

@keyframes slideIn {
  0% {
      left: -100%;
      opacity: 0;
  }
  100% {
      left: 0;
      opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* stick nav start */
body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  padding-bottom: 50px;
  /* background-color: #222; */
  background-color:rgb(34, 34, 34);
}






.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .containerbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

.lottie-container {
  top:5%;
  width: fit-content;
  height: 100%;
  position: relative;
  opacity: 0; /* Set the initial opacity to 0 */
  transition: opacity 1s; /* Add a 1s transition for opacity */
}

/* Apply the opacity transition to the .lottie-container when the site loads */
.lottie-container {
  
  animation: fadeIn 5s forwards;
}




.hero {
  /* background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); */
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 0px;
  z-index: -2;
}

.container {
   
  margin: 0 auto ;
  text-align: left;
  position: relative;
   /* Initially hide the container off-screen to the left */
  opacity: 0; /* Initially set opacity to 0 for a fade-in effect */
  transition: left 1s, opacity 1s; /* Add a 1s transition for both left and opacity */
}

.container p { 
  font-family: 'Times New Roman', Times, serif;
  color: rgba(173, 173, 173, 0.4);
  padding-right: 10%;
}

#homeP{ 
  padding-right: 40%;

}
.container {
  animation: fadeIn 4s forwards;
}

.column {
  flex: 1; /* Distribute columns evenly within .hero */
  padding: 5%;
}


.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

/* sticky nav */

.sideBar,
.wrapper {
  background-color: rgb(29, 29, 29);
  box-shadow: 0px 0px 10px rgba(87, 87, 87, 0.4);
  border-bottom: 50px;
  height: 100%;
  width: 200px;
  color: #0dff00;
  top: 0;
  left: 0;
  position: fixed;
  padding: 10px;
}

.sideBar button.click:nth-child(n) {
  margin-bottom: 12px;
  margin-top: 12px;
  /* background-color: rgb(50, 50, 50); */
  transition: background-color 0.33s ease-out, padding 0.25s ease-out, border 0.33s ease-out;
  display: inline-block;
  width: 170px;
  margin-left: 15px;
  padding-left: 5px;
  border-radius: 8px;
  height: 40px;
  vertical-align: middle;
  text-align: left;
  font-family: UbuntuLight, sans-serif;
  font-size: 1.5em;
  color: #0dff00;
}

#logo {
  height: 100px;
  width: 100px;
}



.sideBar button.click:nth-child(n):hover {
  background-color: rgb(70, 70, 70);
  transition: background-color 0.33s ease-in, border 0.33s ease-in, padding-left 0.25s ease-in;
  border-radius: 10px;
  padding-left: 15px;
  vertical-align: middle;
}

.searchBtn {
  display: flex;
  background-color: rgb(200, 200, 200);
  height: 40px;
  border: rgb(200, 200, 200);
  border-radius: 10px;
  margin-bottom: 20px;

}

#searchBar {
  background-color: rgb(200, 200, 200);
  border: rgb(200, 200, 200);
  border-radius: 10px;
}

.sideBar .input {
  font-size: 16px;
}

.input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1em;
  padding-right: 30px;
}

.infoBar {
  display: flex;
  background-color: rgb(29, 29, 29);
  color: #ffffff;
  text-align: left;
  margin: 5% 5% 3px;
  
  padding: 2%;
  border-radius: 20px;
  margin-bottom: 20px;


}

.infoBar>th {
  margin: 10px;
  padding: 20px;
  background-color: white;
}

.infoBar th {
  padding: 10px;
}

.infoBar tr.topBar th {
  padding: 0px;
  font-family: UbuntuLight, sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.infoBar tr.topBar td {
  padding: 0px;
  font-family: UbuntuLight, sans-serif;
  font-weight: normal;
  font-size: 48px;
}

div#greeting {
  display: flex;
  margin-left: 2px;
  text-align: center;
  padding-top: 30px;
  height: 110px;
  font-family: UbuntuLight, sans-serif;

}

div#greeting h1 {
  font-size: 400%;
  color: #0dff00;
  padding-left: 20px;
}

.click,
.search {
  background-color: transparent;
  border: 0;
  font-size: 1.1em;
  color: white;
  cursor: pointer;
}

.portfolio {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 10px rgba(87, 87, 87, 0.4);
  /* border: 2px solid #00ff0d; */
  justify-content: space-between;
  min-height: 100vh;
  margin: 5%;
  margin-top: 1%;
  font-size: 1.2em;
  background-color: rgb(29, 29, 29);
  padding: 50px;
  border-radius: 20px;
}

.portfolio p:nth-child(2) {
  margin-top: 0px;
}

.portfolio p:nth-child(4) {
  margin-top: 20px;
}

/* Style the outer container */
.stockList {

  height: 75vh;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 20px;
}

/* Hide the scrollbar */
.stockList::-webkit-scrollbar {
  width: 0;
  /* Set the width to 0 */
  background: transparent;
  /* Set the background to transparent */
}







table {
  border-collapse: collapse;

}

/* Style the table */
.stocks {
  width: 100%;
  border-collapse: separate;
  /* Remove spacing between table cells */
  border-spacing: 0 40px;
}

/* Style table rows */
.stocks tr {}



/* Style the first row (headers) */
.stocks tr:first-child {

  background-color: #e0e0e000;
  /* Background color for the header row */

}


/* Style the cells within the table */
.stocks th,
.stocks td {
  padding: 10px;
}

/* Add rounded corners to table cells */
.stocks th {
  border-radius: 10px;
  /* Adjust the radius as needed */

}

.stock tr:nth-child(even) {
  background-color: #f2f2f2;
}



.stocks td {
  background-color: #0dff00;
  color: black;
  font-size: 130%;
  animation: glow 1.5s infinite alternate;

}



.stocks tr:hover {
  background-color: #0dff00;
  transition: background-color 0.5s ease-in;
}


.stocks td:first-child {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.stocks td:last-child {
  border-top-Right-radius: 50px;
  border-bottom-Right-radius: 50px;
}



.stocks tr {}








@keyframes glow {
  0% {
    box-shadow: 0 0 2px green, 0 0 2px green, 0 0 10px green;
    /* Initial shadow with spread radius of 20px */
  }

  100% {
    box-shadow: 0 0 4px green, 0 0 2px green, 0 0 2px green;
    /* Increased spread radius for glowing effect */
  }
}



.stockBox {
  background-color: green; /* Set the background color to green */
  color: white; /* Set the text color to white for better visibility */
}

a{
  color: #0dff00;
}

.twoChart {
  display: flex;
  flex-direction: row; /* Vertical flex layout */
  
  justify-content: space-between; /* Push content to the top and bottom */
  height: 100%; /* Fill the viewport vertically */
  border: solid #0dff00;
 
}


/* Common styles for both chart containers */
.chart-container, .chart-container2 {
 

  max-width: 48%;
  margin: 20px;
  height: 50vh;
  background-color: rgb(25, 25, 25);
  padding: 4%;
  border-radius: 5%;
  z-index: -1;
 
}

/* Specific styles for the second chart container */


/* Additional styles for the canvas elements if needed */
#stockChart1, #stockChart2 {
  width: 100%; /* Make the canvases fill their respective containers */
  height: 100%;
  /* Add any other styles for the canvas elements */
}


/* Add a linear gradient overlay */
.chart-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allow interactions with the chart beneath */
}



